@media screen {
  .y-drawer-scrim {
    //z-index: 2;
    z-index: 4;
  }

  .y-drawer-content {
    width: 18rem;
    left: -18rem;
    z-index: 3;

  }

  .y-drawer-open .y-drawer-content {
      left: 0;  // 사이드바가 열렸을 때
  }


  // header, body::before {
  //   backface-visibility: hidden;
  // }
}
